* {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    min-height: 100vh;
    font-family: HYWenHei, sans-serif;
}

.div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
    font-family: HYWenHei, sans-serif;
}

.inputBox {
    position: relative;
    width: 40%;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.2s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #00dfc4;
    letter-spacing: 0.2em;
    border: 1px solid #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #00dfc4;
}

.btn {
    position: relative;
    background: rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.25);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    border-radius: 4px;
}

.btn:hover {
    background: #00dfc4;
    color: #00dfc4;
    letter-spacing: 0.15em;
    box-shadow: 0 0 35px #00dfc4;
}

.btn:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #1d2b3a;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn i {
    position: absolute;
    inset: 0;
    display: block;
}

.btn i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #1d2b3a;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.btn:hover i::before {
    width: 20px;
    left: 20%;
}

.btn i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #1d2b3a;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.btn:hover i::after {
    width: 20px;
    left: 80%;
}

.ava_picker {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.sponsor {
    position: absolute;
    bottom: 0;
    left: 28%;
    padding: 10px;
    font-size: small;
    color: #ffffff;
}