.buttons,
.mainGrid {
  margin-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}
.header > * + * {
  margin-left: 0.8rem;
  border-left: 1px solid var(--color-fg);
  padding-left: 0.8rem;
}

.try::after {
  content: 'Try!';
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: var(--color-badge-bg);
  color: var(--color-badge-fg);
  border-radius: 100vmax;
  margin-left: 0.3em;
  font-size: 80%;
}

.title {
  grid-column: 2;
  padding-inline: 1em;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}

.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.no_click {pointer-events: none;}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--size-card-min-width), 1fr)
  );
  justify-content: center;
  padding: 2rem 2rem;
  gap: var(--size-grid-gap);
}

.grid.team {
  grid-template-columns: repeat(4, var(--size-card-min-width));
}

.grid.team1 {
  grid-template-columns: repeat(1, var(--size-card-min-width));
}

.grid.team2 {
  grid-template-columns: repeat(2, var(--size-card-min-width));
}

.grid.team3 {
  grid-template-columns: repeat(3, var(--size-card-min-width));
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, min(var(--size-card-min-width)));
  }
}


.avatars_container {
  display: flex;
  position: relative;
  width: 100%;
}

.avatar_box {
  background: #2d3861;
  max-width: 210px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin-left: 0;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: #1d285d;
}

.avatar_box h1 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar_shadow {
  filter: drop-shadow(0 0 15px limegreen);
  transition: 0.5s;
}

.avatar_img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  object-position: bottom center;
}

.float_left {
  left: 0;
}

.float_right {
  right: 0;
}

.timer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  top: 50%;
}

.timer2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game_ended {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3.5em;
  margin-bottom: 5%;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  z-index: 2;
  opacity: 0;
  animation: fadein 1s ease-out forwards;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.chat_container {
  position: fixed;
  left: 0;
  bottom: 100px;
  z-index: 2;
}

.chat_box {
  width: 0;
  height: 550px;
  background-color: #2d3861;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d285d;
  transition: 0.5s;
  overflow: hidden;
}

.chat_box.expanded {
  width: 225px;
}

.chat_display {
  margin: 10px;
  height: 400px;
  width: 90%;
  background-color: #1d2b3a;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d285d;
  padding: 5px;

}

.chat_display.expanded {
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;
}

.chat_input {
  height: 100px;
  width: 90%;
  margin: 10px;
  background-color: #1d2b3a;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d285d;
  color: #ffffff;
  outline: none;
  padding: 10px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.chat_btn {
  position: absolute;
  width: 40px;
  height: 80px;
  background-color: #2d3861;
  font-size: 4em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d285d;
  bottom: 0;
  transition: 0.5s;
}

.chat_btn.expanded {
  transform: translateX(225px);
}

.chat_hidden {
  visibility: hidden;
}

.span_p2 {
  color: #257cff;
}

.span_p1 {
  color: #da0000;
}

.span_you {
  color: #f3b310;
}

.chat_div {
  transform: rotate(180deg);
  direction: ltr;
  overflow-wrap: break-word;
}