.buttons,
.mainGrid {
  margin-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}
.header > * + * {
  margin-left: 0.8rem;
  border-left: 1px solid var(--color-fg);
  padding-left: 0.8rem;
}

.try::after {
  content: 'Try!';
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: var(--color-badge-bg);
  color: var(--color-badge-fg);
  border-radius: 100vmax;
  margin-left: 0.3em;
  font-size: 80%;
}

.title {
  grid-column: 2;
  padding-inline: 1em;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}

.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.no_click {pointer-events: none;}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--size-card-min-width), 1fr)
  );
  justify-content: center;
  padding: 2rem 9rem;
  gap: var(--size-grid-gap);
}

.grid.team {
  grid-template-columns: repeat(4, var(--size-card-min-width));
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, min(var(--size-card-min-width)));
  }
}


.avatars_container {
  display: flex;
  position: relative;
  width: 100%;
}

.avatar_box {
  background: #2d3861;
  width: 12%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin-left: 0;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.avatar_box h1 h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar_shadow {
  filter: drop-shadow(0 0 15px limegreen);
  transition: 0.5s;
}

.avatar_img {
  width: 100px;
  height: 100px;
}

.float_left {
  left: 0;
}

.float_right {
  right: 0;
}

.timer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  top: 50%;
}

.game_ended {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3.5em;
  margin-bottom: 5%;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  z-index: 2;
  opacity: 0;
  animation: fadein 1s ease-out forwards;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}